{% extends "MainApp/layout.html" %}

{% block body %}
    <div class="section-container">
        <div id="owe-section">
            <div id="owe-section-1">
                <div>
                    <div class="expenseTypeBtns">
                        <button class="owedExpensesBtn">Expenses You're Owed</button>
                        <button class="oweExpensesBtn"><a href="{% url 'owing' %}">Expenses You Owe</a></button>
                    </div>
                </div>
                <div id="owing-container">
                    {% for date, expenses in expenses_by_date.items %}
                        <h5 class="date-header">
                            {% if date == today %}
                                Today
                            {% else %}
                                {{ date }}
                            {% endif %}
                        </h5>
                        <hr> 
                        <ul class="owing-list">
                            {% for expense in expenses %}
                                <li class="owing-item">
                                    <div class="owing-item-part-1">
                                        <p class="owing-icon"></p>
                                        <div class="owing-summary">
                                            <a class="owing-header" href="{% url 'individual_expense' expense.id %}">
                                                {{ expense.description }}
                                            </a>
                                            <div class="owing-sub-header">
                                                <p>${{ expense.amount|floatformat:2 }} added at {{ expense.date_added|time:"H:i" }}</p>
                                            </div>
                                        </div>
                                    </div>
                                    <p class="owing-amount">${{ expense.remaining_balance|floatformat:2 }} {{ expense.currency }}</p>
                                </li>
                            {% endfor %}
                        </ul>
                    {% endfor %}
                </div>  
            </div>
            
            <div id="owe-section-2">
                <div>
                    <h5 class="progress-header">Who owes you money?</h5>
                    <div class="owed-to-bars">
                        {% for friend in friends %}
                            <div class="progress-bar-container">
                                <div class="progess-bar-headers">
                                    <p class="progress-title">{{ friend.user__username }}</p>
                                    <p class="progress-amount">${{ friend.total_owed|floatformat:2 }}</p>
                                </div>
                                <div class="progress" style="height: 10px;">
                                    <div class="progress-bar bg-info" role="progressbar" style="width: {{ friend.percentage }}%" aria-valuenow="{{ group.percentage }}" aria-valuemin="0" aria-valuemax="100"></div>
                                </div>
                            </div>
                        {% endfor %}
                    </div>
                </div>
                <div class="owe-section-buttons">
                    <button class="add-expense-button"><a class="add-expense-link" href="{% url 'add_expense' %}">Add Expense</a></button>
                </div>
            </div>
        </div>
    </div>
{% endblock%}
